body {

  background-image: linear-gradient(#b3d1ff, #66a3ff);
  background-attachment: fixed;
  font-family: "Courier";
  text-align: center;

}

.footer {

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

}
