body {

  background-image: linear-gradient(#b3d1ff, #66a3ff);
  background-attachment: fixed;

}

.about_cloud {

  background: url("./images/about_cloud_a.png");
  width: 252px;
  height: 114px;

  position: fixed;
  bottom: 50%;
  right: 75%;

}


.about_cloud:hover {

  background: url("./images/about_cloud_b.png");

}

