body {

  background-image: linear-gradient(#b3d1ff, #66a3ff);
  background-attachment: fixed;

}

.about_cloud {

  background: url("./images/about_cloud.png");
  width: 252px;
  height: 114px;

  position: fixed;
  bottom: 50%;
  right: 65%;

}

.about_cloud:hover {

  background: url("./images/about_cloud.png") 0 -114px;

}

.blog_cloud {

  background: url("./images/blog_cloud.png");
  width: 252px;
  height: 114px;

  position: fixed;
  bottom: 25%;
  right: 30%;

}

.blog_cloud:hover {

  background: url("./images/blog_cloud.png") 0 -114px;

}

.contact_cloud {

  background: url("./images/contact_cloud.png");
  width: 252px;
  height: 114px;

  position: fixed;
  bottom: 10%;
  right: 70%;

}

.contact_cloud:hover {

  background: url("./images/contact_cloud.png") 0 -114px;

}

.cv_cloud {

  background: url("./images/cv_cloud.png");
  width: 252px;
  height: 114px;

  position: fixed;
  bottom: 70%;
  right: 20%;

}

.cv_cloud:hover {

  background: url("./images/cv_cloud.png") 0 -114px;

}
